html, body {
    position: relative;
    height: 100%;
    width: 100%;
}

.modal {
    position: absolute;
    background: red;
    color: white;
    width: 500px;
    height: 300px;

    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
